main {
}

footer {
   text-align: center;
   width: 99%;
   position: absolute;
   bottom: 0;
}

.sortingAnimation {
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   display: flex;
   justify-content: space-between;
   padding: 5%;
   border: solid black 3px;
}

.bar {
   background-color: purple;
   width: 10%;
   height: 10px;
   align-self: baseline;
}
