@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
   font-family: "Open Sans", sans-serif;
}

footer {
   text-align: center;
   font-size: 1vw;
   width: 99%;
   height: 3em;
   position: absolute;
   bottom: 0;
   background-color: rgba(211, 211, 211, 0.5);
}

#sortingAnimation {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 2%;
   width: 50%;
   display: flex;
   justify-content: space-between;
   height: 50vh;
}

.bar {
   background-color: purple;
   width: 5%;
   align-self: flex-end;
}

.iterator {
   background-color: orchid;
}

.sorted {
   background-color: green;
}

.not-sorted {
   background-color: red;
}

#slider-container {
   width: 50%;
   margin-right: auto;
   margin-left: auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 5vh;
}

#slider {
   width: 80%;
   -webkit-appearance: none;
   height: 1vh;
   background: #d3d3d3;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50%;
  background: purple;
  cursor: pointer;
}

 #slider:disabled {
     opacity: 0.7;
     cursor: context-menu !important;
 }

/* use -moz- instead of -webkit- if we want compatible with firefox */

#slider-value {
   margin: 0;
}

#button-container {
   margin-top: 2%;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   display: flex;
   justify-content: space-around;
}

button {
   font-family: "Open Sans", sans-serif;
   background-color: rgba(211, 211, 211, 0.7);
   border: none;
   border-radius: 10%;
   padding: 1% 2% 1% 2%;
   width: max-content;
   font-size: 1.2vw;
   cursor: pointer;
   transition: background-color 0.2;
}

button:hover {
   background-color: rgba(211, 211, 211, 1);
}

button:hover:disabled {
    background-color: rgba(211, 211, 211, 0.7);
    cursor: context-menu;
}

#sortingOptions {
   padding: 0.5%;
}
