main {
}

footer {
   text-align: center;
   width: 99%;
   position: absolute;
   bottom: 0;
}

#sortingAnimation {
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   display: flex;
   justify-content: space-between;
   padding: 5% 5% 2% 5%;
   /* border: solid black 3px; */
}

.bar {
   background-color: purple;
   width: 5%;
   height: 10px;
   align-self: baseline;
}

.iterator {
   background-color: orchid;
}

.sorted {
   background-color: green;
}

.not-sorted {
   background-color: red;
}

#slider-container {
   width: 50%;
   margin-right: auto;
   margin-left: auto;
   display: flex;
   justify-content: space-around;
}

#slider {
   width: 80%;
}

#button-container {
   margin-top: 2%;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   display: flex;
   justify-content: space-around;
}

button {
   border: none;
   border-radius: 10%;
   padding: 1% 2% 1% 2%;
   height: 2.5em;
   font-size: 1em;
   cursor: pointer;
}

/* button:hover {

} */

#sortingOptions {
   padding: 0.5%;
}
